body {
	margin: 0;
	padding: 0;
	background: #BE81F7url(images/img01.gif) repeat left top;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	padding-top: 0;
	color: #000000;
	font-size: 40px;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}
.buttons{
	text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

/** HEADER */

#header {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	background: url(images/welcome_background.jpg) no-repeat left top;
}

#header h1 {
	margin: 0;
	padding: 30px 0 0 20px;
	text-align: center;
	font-size: 36px;
	font-style: italic;
	letter-spacing: -2px;
	color: #FFFFFF;
}

#header h2 {
	display: none;
}

/** MENU */

#menu {
	width: 680px;
	margin: -2.5em auto 2em auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 10px;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
}

#menu .first a {
	border: none;
}

/** CONTENT */

#content {
	width: 700px;
	margin: 0 auto 1em auto;
	background: #FFFFFF url(images/img05.gif) no-repeat left bottom;
}

#content * {
	line-height: 140%;
}

#columnA {
	float: left;
	width: 430px;
	padding: 25px 20px 0 30px;
	background: url(images/img03.gif) no-repeat left top;
}

#columnB {
	float: right;
	width: 190px;
	padding: 25px 20px 0 10px;
	background: url(images/img04.gif) no-repeat right top;
}

/** FOOTER */

#footer {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	padding-bottom: 20px;
	background: url(images/welcome_background.jpg) no-repeat left top;
}

#footer p {
	margin: 0px 0px 0px 0px;
	padding: .8em 0 0 0;
	text-align: center;
	font: bold x-small Arial, Helvetica, sans-serif;
	color:#000000;
}
#qrlogo_text{
	width: 530px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #EEEEEE;
}

.section{
	margin-top: 60px;
	text-align: center;
	font-size: 15px;
}
.table_borders{
	margin: 0 auto;
}